body {
  margin-top: 90px;
}
h1 {
  text-align: center;
  color: darkcyan;
  text-decoration: underline;
}
p {
  background: burlywood;
}
a {
  display: block;
  text-decoration: none;
}
a:visited {
  color: cornflowerblue;
}
