.container {
max-width: 960px;
  margin-top: 90px;
}
h1 {
  text-align: center;
  color: darkcyan;
  text-decoration: underline;
}
p {
  text-align: center;
  background: burlywood;
  font-size: 30px;
  line-height: 40px;
}
a {
  display: block;
  text-decoration: none;
  text-align: center;
  margin-top: 30px;
}
a:visited {
  color: cornflowerblue;
}
img {
	display: block;
	margin:  0 auto;
	margin-top: 50px;
}